@import "tailwindcss";

body{
  overflow-x:hidden;
}

section{

  height:100vh;
}
.container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  place-items:center;
  gap:8rem;
  width:100%
}
.text-container{
  position:absolute;
}